* {
    margin: 0;
    padding: 0;
}
    
html { 
    background: url(lpt_gliph.svg) no-repeat center center fixed;
    -webkit-background-size: 100em;
    -moz-background-size: 100em;
    -o-background-size: 100em;
    background-size: 100em;
}
        
#page-wrap {
    width: 400px;
    margin: 350px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

p {
   font: 15px/2 Georgia, Serif;
   margin: 0 0 30px 0;
   text-indent: 40px;
}
